/* popup.css */
/* For all styling pertaining to dialog boxes and popups. */

/* ------------- Theme Dialog Box --------------- */
.theme-dialog {
  position: fixed;
  top: 58px;
  right: 0px;
  background: var(--color-accent);
  color: var(--dark-textcolor);
  border: none;
  padding: 1em;
  z-index: 9999;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.theme-dialog.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

.theme-dialog h3 {margin-top: 0;}

.theme-dialog ul {
  list-style: none;
  padding: 0;
  margin: 0.5em 0;
}

.theme-dialog li {margin-bottom: 0.5em;}

.theme-dialog button {
  display: inline-block;
  width: 100%;
  padding: 0.5em;
  background: transparent;
  color: var(--color-accent3);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.theme-dialog .close-btn {margin-top: 1em;}

/* ------------- Popup Box --------------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-accent);
  z-index: 999;
  opacity: .9;
}

.popup-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-color, #fff);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  max-width: 90%;  
}

div#popupHP, 
div#popupXP {width: 300px;}

div#popupAC, 
div#popupClasses {width: 600px;}

div#popupAbilities,
div#popupSpeed {width: 900px;}

div#popupSaves,
div#popupWeapon {width: 1000px;}

.popup-content {
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popup-dialog h3 {
    color: var(--color-accent2);
    text-transform: uppercase;
    margin: .75em 0 .25em 1px;
    font-size: 1em;
}

.popup-header h2 {display: inline;}

.popup-content ul {
  margin:0;
  padding: 0;
  list-style: none;
}

.popup-header button {
    float: right;
    color: var(--color-accent2);
    border: none;
    background: transparent;
}

.popup-header button:hover {cursor: pointer;}

.margin-fix {padding-top: .5em;}

.psuedoForm input {width: 50px;}

.psuedoForm span {
  font-size: .8em;
  padding-left: 5px;
  font-weight: bold;
}

.psuedoForm input[type="checkbox"] {
  width: auto;
  display: inline;
}

.psuedoForm select {
  width: auto !important;
  display: inline;
}

li.psuedoForm {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

li.psuedoForm:first-child {
  margin-top:.5em;
}

li.psuedoForm input {width: 62px;}

span.left-label {
  font-weight: bold;
  text-align: right !important;
  display: block;
  text-transform: uppercase;
  font-size: .9em;
}

.ACEditor th {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
}